<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Smoothies App</h1>
<p>Welcome to my app, this is an app to make up understand node authentications and also promoting our product </p>
	<footer>Copyright 2022 UnsualDelekz Smoothies</footer>
</body>
</html>